/*src/components/layout.css*/

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
img {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

* {
    box-sizing: border-box;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.pagewrapper {
    margin: 0 auto;
}

.navBarRoot {
    display: flex;
    position: fixed;
    background-color: rgb(22 48 161);
    color: white;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
    height: auto;
}

.navScrollLogoProductWrapper {
    display: flex;
    padding: 1em 0.5em 0.5em 0;
}

.navBarRootScroll {
    color: rgb(22 48 161);
    transition: 0.5s;
    height: auto;
    min-height: 120px;
    background-color: white;
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    z-index: 2;
}

.navNoScrollWrapper {
    display: flex;
    padding: 1em 0.5em 0.5em 0;
}

.navNoScrollProductList {
    padding: 1.5em;
}

.topHeaderRoot {
    display: none;
    position: relative;
    top: 0;
    margin: auto;
    background-color: black;
    color: white;
    height: 80px;
}

.topHeaderWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topHeaderWrapper p {
    text-align: center;
}

body {
    font-size: 1.2em;
    line-height: 1.5;
    font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    background: #f9f9f9;
}

header {
    background-color: #FFF;
    display: flex;
    height: 4em;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    z-index: 100;
}

h1 {
    font-size: clamp(0.8em, 2.5vw, 2em);
}

header ul {
    display: flex;
    gap: 1em;
    align-items: center;
}

header a {
    text-transform: capitalize;
    font-size: 0.9em;
}

.productButtonWrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 32px;
}

.productButtonWrapperMobile {
    display: flex;
    flex-direction: column;
    margin: 0 8px;
    margin-top: 30px;
}

.productButtonWrapperMobile button {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: 0.9em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    margin-top: 1px;
}

.productButtonWrapper button {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: 0.9em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    margin-top: 1px;
}

.navHeaderLink {
    font-size: 0.9em;
    margin: 5px 10px 0px 5px;
}

.navHeaderLinkWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    display: none;
    position: absolute;
    right: auto;
    left: 125px;
    top: 79px;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
        0 4px 6px -2px rgba(71, 63, 79, 0.16);
    font-size: 0.875rem;
    z-index: 9999;
    min-width: 10rem;
    padding: 0.5rem;
    list-style: none;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
}

.dropdownLiquor {
    position: absolute;
    right: auto;
    left: 200px;
    top: 79px;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
        0 4px 6px -2px rgba(71, 63, 79, 0.16);
    font-size: 0.875rem;
    z-index: 9999;
    min-width: 10rem;
    padding: 0.5rem;
    list-style: none;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
}

.dropdown-mobile-liquor {
    position: absolute;
    right: auto;
    left: 189px;
    top: 75px;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
        0 4px 6px -2px rgba(71, 63, 79, 0.16);
    font-size: 0.875rem;
    z-index: 9999;
    min-width: 10rem;
    padding: 0.5rem;
    list-style: none;
    background-color: white;
    border-radius: 0.5rem;
    display: none;
}

.dropdown-mobile {
    position: absolute;
    right: auto;
    left: 189px;
    top: 75px;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
        0 4px 6px -2px rgba(71, 63, 79, 0.16);
    font-size: 0.875rem;
    z-index: 9999;
    min-width: 10rem;
    padding: 0.5rem;
    list-style: none;
    background-color: white;
    border-radius: 0.5rem;
    display: none;
}

.dropdown-mobile.show {
    display: block;
}

.dropdown.show {
    display: block;
}

.dropdownLiquor.show {
    display: block;

}

.dropdown .dropdown-submenu {
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdownLiquor .dropdownLiquor-submenu {
    position: absolute;
    left: 100%;
    top: -7px;
}

.menu-items {
    position: relative;
    font-size: 16px;
    width: 108%;
    margin-left: -9px;
    height: 35px;
}

.menu-items a {
    display: flex;
    font-size: inherit;
    align-items: center;
    color: inherit;
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    height: 35px;
}

.menu-items a:hover,
.menu-items button:hover {
    background-color: rgb(22 48 161 / 42%);
}


.hero {
    max-height: 20em;
    text-align: center;
    padding: 2em 0;
    margin-top: 120px;
    background-image: url(../images/wine_pour_2.jpg);
    background-size: cover;
    background-color: black;
}

.heroText {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    width: 160%;
    padding: 5em;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.heroTrendingText {
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.slugPageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slugPageWrapper img {
    max-height: 20em;
    object-fit: contain !important;
}

.trendingImageLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trendingTopBannerButton {
    background-color: white;
    color: black;
    padding: 5px 15px;
    border-radius: 16px;
    margin-top: 7px;
}

.heroImage {
    max-height: 25em;
    margin: 2em;
}

.heroImage img {
    object-fit: contain !important;
}

.layoutHeader {
    margin-top: 140px;
    text-align: center;
}

.heroTextH1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero h2 {
    text-wrap: balance;
}

.gridWrapper {
    display: flex;
}

.gridWrapper>div {
    margin: 10px 10px 0 0;
}

.menuContent {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#topRated {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-image: url("../images/egor-myznik-wine-bottles.jpg");
    background-size: cover;
    color: #3aa8e4;
    height: 10em;
    text-align: center;
    border: none;
    text-decoration: none;
    font-size: 3rem;
}

#tequilas {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-image: url("../images/patron.jpg");
    /* background-image: url("../images/casaamigos_tequial.jpg"); */
    /* background-image: url("../images/jose_cuevo_half_page.jpg"); */
    background-position-y: 50%;
    background-size: cover;
    color: black;
    height: 10em;
    text-align: center;
    border: none;
    text-decoration: none;
    font-size: 3rem;
}

#staffPicks {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    /* background-image: url("../images/xxl_blackberry.jpg"); */
    background-image: url("../images/staff_picks.jpg");
    background-position-y: 60%;
    background-size: cover;
    color: white;
    height: 10em;
    text-align: center;
    border: none;
    text-decoration: none;
    font-size: 3rem;
}

#newArrivals {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-image: url("../images/wine-pour.jpg");
    background-size: cover;
    color: white;
    height: 10em;
    text-align: center;
    border: none;
    text-decoration: none;
    font-size: 3rem;
}

#whiskey {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-image: url("../images/johny_red.jpg");
    background-size: cover;
    color: white;
    height: 10em;
    text-align: center;
    border: none;
    text-decoration: none;
    font-size: 3rem;
}


#specials {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-image: url("../images/jack_honey_2.jpg");
    background-position-y: 58%;
    background-size: cover;
    color: #3aa8e4;
    height: 10em;
    text-align: center;
    border: none;
    text-decoration: none;
    font-size: 3rem;
}

.menuContentButton {
    padding: 15px;
    border-radius: 14px;
    border: 1px solid white;
    width: 150px;
    background-color: #3aa8e4;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.menuContentText {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menuContent>img {
    width: 100%;
    margin-bottom: 0;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.menuLink {
    text-align: center;
    color: black;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    font-size: 3rem;
}

#blueRockNavLogo {
    width: 80px;
    border-radius: 1em;
    margin-right: 30px;
}

.pageTitle {
    color: black;
    text-transform: capitalize;
}

.postlist {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5em;
    row-gap: 3em;
    justify-content: center;
    justify-items: center;
}

.homePageWrapper {
    min-height: 100vh;
}

.mapWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.navDrawerRoot {
    /* margin-top: 77px; */
}

.drawerProductList {
    width: 250px;
    padding: 1.5rem;
    line-height: 2;
    text-transform: capitalize;

}

.secondDrawer {
    height: 150px;
    width: 100%;
}

.secondDrawerRoot {
    margin-top: 200px;
    width: 100%;
    background-color: white;
}

.smallVWHamburgerWrapper {
    display: none;
}

.contactNoScroll,
.contactScroll,
.contactScrollMobile {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.35em 0.5em 0.5em 0;
}

.contactNavLink {
    font-size: 0.9em !important;
}


.postlist h3 {
    font-size: clamp(0.8em, 1.5vw, 1.5em);
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.postlist li {
    overflow: hidden;
    border-radius: 1em;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 15em;
    padding: 1em 0;
}

.postlist .cover {
    height: 12em;
    object-fit: cover;
    width: 100%;
}

.image-wrap {
    position: relative;
}

.postlist .avatar {
    object-fit: cover;
    position: absolute;
    right: 2%;
    bottom: -10%;
    border-radius: 9999px;
    width: 3em;
    height: 3em;
}

.postlist p {
    padding-left: 0.5em;
}

.date,
.name,
.postcategory {
    font-size: 0.8em;
}

.postcategory {
    background-color: rgb(22 48 161);
    color: white;
    padding: 15px;
    border-radius: 16px
}

.description {
    padding-top: 1em;
    font-size: clamp(0.7em, 1.25vw, 1em);
}

.postcover {
    width: 100%;
    object-fit: cover;
}

footer {
    margin-top: 3em;
    padding: 0.5em;
    background-color: hsl(250, 92%, 10%);
    color: hsl(250, 92%, 90%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.postcover,
.postdate,
.postauthor,
.postcategory,
.postcontent p {
    padding-bottom: 1em;
}

.postdate,
.postauthor {
    font-size: clamp(0.6em, 1.2vw, 1.2em);
}

.postavatar {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    object-fit: cover;
}

footer h2 {
    font-size: clamp(0.5em, 1vw, 1em);
}

footer p {
    font-size: clamp(0.4em, 0.8vw, 0.8em);
    font-weight: 400;
}

.callUsButton {
    display: flex;
    background-color: white;
    padding: 0.5em 1em;
    border-radius: 35px;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}

.callUsButtonScroll {
    display: flex;
    background-color: rgb(22 48 161);
    color: white;
    padding: 0.5em 1em;
    border-radius: 35px;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}

.contactHeader {
    font-size: 2em;
    text-align: center;
}

.featuredWrapper {
    background-color: black;
}

.featuredHeader {
    padding-top: 40px;
    font-size: 2em;
    text-align: center;
    color: white;
}

.contactPhone {
    color: rgb(22 48 161);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.phoneIcon {
    margin-right: 15px;
    fill: white !important;
    width: 25px;
}

.contactButton {
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: rgb(22 48 161);
    border-radius: 35px;
    padding: 15px 25px;
    text-transform: none;
    font-size: 1em;
    color: white;
}

@media (max-width: 960px) {

    .navBarRoot {
        position: static;
    }

    .topHeaderWrapper p {
        font-size: 0.75em;
    }

    .postlist {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .mapWrapper iframe {
        width: 90%;
        margin: auto;
    }

    .navNoScrollProductList {
        display: none;
    }

    .smallVWHamburgerWrapper {
        display: flex;
        align-items: center;

    }

    .contactNoScroll,
    .contactScroll {
        display: none;
    }

    .navNoScrollWrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    header a {
        font-size: 0.9em;
    }

    .hero {
        margin-top: 0px;
    }

    .layoutHeader {
        margin-top: 10px;
    }

    .heroText {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .hero {
        flex-direction: column;
        height: auto;
    }

    .gridWrapper {
        flex-direction: column;
    }

    #topRated,
    #newArrivals,
    #tequilas,
    #whiskey,
    #staffPicks,
    #specials {
        width: 100%;
    }

    .postlist {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}